{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="details">
            <h3 id="title">{{ event.name }}</h3>
            <ul>
                <li class="info"><strong>Location: </strong>{{ event.location }}</li>
                <li class="info"><strong>Date: </strong>{{ event.date }}</li>
                <li class="info"><strong>Time: </strong>{{ event.time }}</li>
                <li class="info"><strong>Description: <br></strong>{{ event.description }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if reviews %}
            <h5>User Reviews: </h5>
            {% for review in reviews %}
            <div class="card-content">
                <span class="card-title"> User Name {{ review.user }}</span>
                <p>Rating: {{ review.rating }}</p>
                <p>Comment: {{ review.comment }}</p>
                <p>Date: {{ review.date }}</p>
            </div>
            {% endfor %}
            <div class="card-action">
                <a href="{% url 'review_update' review_id=review.id %}">Edit</a>
                <a href="{% url 'review_delete' review_id=review.id %}">Delete</a>
            </div>
        </div>
        {% else %}
        <h1>No reviews</h1>
        {% endif %}
    </div>
    <form action="" method="POST">
        {% if event.id %}
            <a href="{% url 'review_create' event_id=event.id %}" class="btn btn-primary">Add Review</a>
        {% endif %}
    </form>
</div>
</div>

{% endblock %}