{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="text-center">Details Page</h1>
    <div class="row">
        <div class="col-sm-6">
            <h3>Title</h3>
            <ul>
                <li><strong>Location: </strong>{{ events.location }}</li>
                <li><strong>Date: </strong>{{ events.date }}</li>
                <li><strong>Time: </strong>{{ events.time }}</li>
                <li><strong>Description: </strong>{{ events.description }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if object%}
            <h5>User Reviews: </h5>
            {% for review in reviews %}
            <div class="review-card">
                <div class="card-body">
                    <p><strong>{{ review.username }}</strong> - {{ review.review_text }}</p>
                </div>
            </div>
            {% endfor %}
            <form action="" method="POST">
                <h5>Add reviews</h5>
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Add your review" class="btn">
            </form>
            {% else %}
            <h1>No reviews</h1>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}