{% extends 'base.html' %}
{% block content %}

<h1>Event List</h1>

{% for event in events %}

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ event.name }}</span>
        <p>{{ event.picture }}</p>
        <p>Date: {{ event.date }}</p>
        <a href="{% url 'details' event.id %}" class="btn btn-primary">View Event</a>
    </div>
    <form method="post" action="{% url 'event_add' event.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Save Event</button>
    </form>
</div>
{% endfor %}

{% endblock %}