{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="text-center mb-3">Event List</h1>
    <div class="card-columns">
        {% for event in events %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">Date: {{ event.date }}</p>
                    <a href="{% url 'details' event.id %}" class="btn btn-primary">View Event</a>
                    <form method="post" action="{% url 'event_add' event.id %}" class="d-inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Save Event</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

