<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav id="nav-bar">
        <div>Log in/out</div>
        <div>All Events</div>
        <div>My Events</div>
    </nav>
    <h1>Event Tracker</h1>
    <ul>
        <li>Most recent event</li>
        <li>Most recent event</li>
        <li>Most recent event</li>
    </ul>
</body>

</html>