/* Set the height of the navbar to the full height of the page */
.navbar {
    height: 100vh;
}

/* Style the links in the navbar */
.navbar-nav a {
    color: white; /* or any other color you prefer */
    text-decoration: none;
    padding: 1rem;
    display: block;
}

/* Add a background color to the navbar */
.navbar {
    background-color: #98b53f; /* or any other color you prefer */
}

/* Add hover effect to links in the navbar */
.navbar-nav a:hover {
    background-color: #333; /* or any other color you prefer */
}

.navbar-nav .nav-item {
    background-color: #3fb543; /* or any other color you prefer */
}

.navbar-nav .nav-item a {
    color: white; /* or any other color you prefer */
}

.nav-link {
    margin: 10px;
}
#review-btn{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(149, 147, 147);
}
.details{
    margin: 20px;
    border: 1px solid black;
}
.info{
    padding-bottom: 20px;
}
#title{
    text-align: center;
    font-weight: bold;
    color:#3fb543;
    margin-top: 25px;
    margin-bottom:50px;
}

.btn{
    background-color:#3fb543;
    text: black
}
